@charset "UTF-8";
/* Tudo que for em HTML id em CSS será # (só pode um elemento)

Tudo que em HTML é class em CSS será . (pode vários elementos)
*/

body {
    background-color:#a7f0a4;
    font-family: Arial, Helvetica, sans-serif;   
}


h1#principal {
    text-align: center;
    color:#fff8f8;
    background-color: rgb(16, 147, 27); 
}


h1 {
    color:#054412; 
    text-indent: 10px;
  
       
}


h2{
    color: #2f7737;
    text-indent: 10px;   
    
}


.básico {
    color: #217a1e;
    text-indent: 10px;
    font-weight: bold;
}
   

h2.intermediário {
    color: #b5b50f;
    text-indent: 10px;
    font-weight: bold;
   
}


h2.avançado {
    color: rgb(164, 8, 8);
    text-indent: 10px;
    font-weight: bolder;
}

.destaque {
    background-color: #e9e94630;
}


p {
    text-align: justify;
    text-indent: 20px;  
}